* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background-image: url("images/image.jpg");
    background-repeat: no-repeat;
    height: 670px;
    width: 100%;
    background-size: 100% 670px;
    position: relative;
}

.navbar-brand {
    margin-left: 100px;
    margin-top: 12px;
}

.navbar-nav {
    margin-left: 200px;
    margin-top: 28px;
}

.navbar-nav .nav-item {
    padding-right: 50px;
}

.log-in {
    margin-left: 110px;
}

.btn-top {
    background-color: #FF6D00;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 35px;
    margin-left: 20px;
    margin-top: 2px;
}

.main {
    text-align: center;
    margin-top: 150px;
}

.main h1 {
    font-size: 3rem;
}

.main h1 span {
    color: #FF6D00;
}

section.container {
    display: flex;
    justify-content: center;
    height: 750px;
}

.banner-main {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 650px;
}

.basket-icon span {
    color: #A5A5A5;
    font-size: 0.7rem;
}

.banner {
    position: relative;
}

.banner img {
    width: 900px;
    height: 230px;
    margin: 0 5%;
    object-fit: contain;
}

.banner-heading {
    position: absolute;
    display: flex;
    top: 70px;
    text-align: center;
    left: 190px;
    font-size: 3.2rem;
}

.card {
    padding-bottom: 20px;
    margin-left: 20px;
    margin: 0 auto;
    border: none !important;
    width: 13rem;
    /* box-shadow: 0px 0px 10px 0px gray; */
}

.card img.mask-group {
    width: 95%;
    height: 95%;
    object-fit: contain;
    margin-top: -2px !important;
    margin: 0 auto;
}

.main-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.lines {
    margin-top: -20px;
    line-height: 1rem;
}

.section-logos {
    text-align: center;
}

.logos {
    margin-bottom: 100px;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.perfomance-section {
    display: flex;
    width: 100%;
}

.container-perfomance {
    width: 50%;
}

.perfomance-data {
    width: 80%;
    align-items: center;
    margin-top: 100px;
    padding-left: 140px;
    font-size: 18px;
    font-weight: 400;
}

.perfomance-items {
    width: 50%;
    align-items: center;
}

.road-pattern-up {
    margin-left: 246px;
}

.perfomance-box {
    width: 395px;
    height: 390px;
    border: 1px solid black;
    margin-left: 10px;
}

.box-items {
    display: flex;
    /* padding-top: 96px; */
    padding-left: 30px;
}

.ten-percent-img {
    padding-top: 96px;
    padding-left: 36px;
}

.arrow-icon {
    padding-top: 87px;
}

.perfomance-paragraph {
    padding-top: 40px;
    width: 240px;
    font-size: 17px;
    font-weight: 600;
    margin: 0 auto;
}

.road-pattern-down {
    margin-left: 500px;
}

.tracking-section {
    display: flex;
    margin-left: 40px;
}

.tracking-section-items {
    width: 50%;
    position: relative;
}

.tracking-section-data {
    width: 50%;
}

.tracking-div {
    margin-left: 60px;
    width: 598px;
}

.track-img {
    width: 500px;
    margin-left: 100px;
}

.tracking-img-1 {
    padding-left: 130px;
    /* border: 1px solid black; */
    width: 520px;
    height: 346.48px;
    margin-left: 80px;
    border-radius: 5px;
}

.tracking-bg_top {
    position: absolute;
    left: 81px;
    top: 0;
    width: 518px;
}

.tracking-browser-top-img {
    position: absolute;
    left: 100px;
    top: 15px;
}

.xp-logo-lines {
    position: absolute;
    left: 35%;
    top: 36%;
    z-index: 20;
}

.box-1 {
    width: 224px;
    height: 273px;
    background-color: white;
    margin-top: 50px;
    margin-left: -110px;
    position: absolute;
    top: 1px;
    left: 205px;
    box-shadow: 2px;
    opacity: 0.1;
    border: 1px solid #09184F;
    box-sizing: border-box;
    border-radius: 5px;
}

.box-2 {
    width: 220px;
    height: 69px;
    background-color: white;
    position: absolute;
    top: 50px;
    right: 90px;
    opacity: 0.1;
    border: 1px solid #09184F;
    box-sizing: border-box;
    border-radius: 5px;
}

.box-3 {
    width: 220px;
    height: 186px;
    background-color: white;
    position: absolute;
    bottom: 21px;
    right: 90px;
    opacity: 0.1;
    border: 1px solid #09184F;
    box-sizing: border-box;
    border-radius: 5px; 
}

.tracking-bg-1 {
    width: 150px;
    height: 63px;
    background: #0F147D;
    box-shadow: 8px 8px #CFD0E5;
    margin-top: 30px;
    margin-left: 1px;
    margin-bottom: 50px;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    position: absolute;
    top: 29px;
}

.tracking-p-1 {
    padding-left: 4px;
    color: gray;
    font-size: 14px;
    font-style: normal;
}

.tracking-p-1 span {
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.2px;
}

.line-1 {
    position: absolute;
    left: 148px;
    top: 118px;
    z-index: 10;
}

.line-2 {
    position: absolute;
    left: 370px;
    top: 200px;
}

@media (min-width: 576px) {
    .browser-top {
        padding-top: 0.5rem !important;
    }
    .banner {
        margin-right: 100px;
    }
    .banner img {
        width: 400px;
        object-fit: contain;
        margin-top: -90px;
    }
    .banner-heading {
        top: 110px;
        left: 90px;
        font-size: 1.3rem;
    }
    .main-logo img {
        width: 30px;
        margin-top: -40px;
    }
    .basket-icon {
        margin-top: -40px;
    }
    .basket-icon img {
        width: 30px;
    }
    .basket-icon span {
        font-size: 0.6rem;
        margin-right: 2px;
    }
    .main h1 {
        font-size: 1.9rem;
    }
    .btn-top {
        padding: 10px 30px;
    }
    .navbar-toggler-icon {
        margin-top: 18px;
        margin-right: 20px;
    }
    .banner-main {
        top: 555px;
    }
    .main-cards {
        margin-top: -30px;
    }
    .card {
        width: 10rem;
    }
    .line-1 {
        left: 20px;
        top: 160px;
    }
    .stars {
        width: 60px;
    }
    .section-logos {
        margin-top: -100px;
    }
    .section-logos p {
        width: 250px;
        text-align: center;
        transform: translateX(60%);
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
    }
    .section-logos .logos {
        margin-bottom: 100px;
        margin-top: 3rem;
        display: flex;
        padding: 0px 100px;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .section-logos .logos img{
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-flow: wrap;
        justify-content: flex-start;
    }
}